{% extends 'pages/menuBase.html' %}


{% block content %}


<div class="panel panel-default">
        <div class="panel-heading panel-score-heading">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#college-rating" data-toggle="tab">College Ratings</a></li>
            {% if popular_colleges %}
                <li ><a href="#college-popularity" data-toggle="tab">College Popularity</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane in active" id="college-rating">
                <table class="table no-margin">
                    {% with col=top_colleges.0 %}
                        <thead>  
                          <tr>
                                <th>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{col.name}}.jpg" alt="{{ col.name }}">
                                </th>
                                <th>
                                    {{ col.name }}
                                </th>
                                <th>
                                    {{ col.points }}
                                </th> 
                          </tr>  
                        </thead>
                    {% endwith %}

                    <tbody>
                        {% for col in top_colleges %}
                            {% if not forloop.first %}
                            <tr>
                                <td>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{col.name}}.jpg" alt="{{ col.name }}">
                                </td>
                                <td>
                                    {{ col.name }}
                                </td>
                                <td>
                                    {{ col.points }}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
              {% if popular_colleges %}
              <div class="tab-pane" id="college-popularity">
                <table class="table no-margin">
                    {% with col=popular_colleges.0 %}
                        <thead>  
                          <tr>
                                <th>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{col.name}}.jpg" alt="{{ col.name }}">
                                </th>
                                <th>
                                    {{ col.name }}
                                </th>
                                <th>
                                    {{ col.stats }}
                                </th> 
                          </tr>  
                        </thead>
                    {% endwith %}

                    <tbody>
                        {% for col in popular_colleges %}
                            {% if not forloop.first %}
                            <tr>
                                <td>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{col.name}}.jpg" alt="{{ col.name }}">
                                </td>
                                <td>
                                    {{ col.name }}
                                </td>
                                <td>
                                    {{ col.stats }}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
              {% endif %}
            </div>
      </div>
    </div>






<div class="question-content row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading panel-score-heading">
                Users
            </div>
            <div class="panel-body">
                <table class="table no-margin">
                    <thead>
                      <tr>
                            <th>
                            </th>
                            <th>
                                P
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Level
                            </th>
                            <th>
                                Q Ans
                            </th>
                            <th>
                                College
                            </th>
                      </tr>  
                    </thead>

                    <tbody>
                        {% for st in students %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <th>
                                    <img class="college-icon" src="{{ st.student.photourl }}" alt="asd">
                                </th>
                                <td>
                                    {{ st.student.fname }} {{ st.student.lname }}
                                </td>
                                <td>
                                    {{ st.student.points }}
                                </td>
                                <td>
                                    {{ st.level.0 }}
                                </td>
                                <td>
                                    {{ st.anss|length }}
                                </td>
                                <td>
                                    <img class="college-icon" src="{{ STATIC_URL }}images/{{st.col}}.jpg" alt="{{ st.col }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-score-heading">
                Proposed questions:
            </div>
            <div class="panel-body">
                {% for pq in proposed_questions %}
                    <b>{{ pq.student.fname }} {{ pq.student.lname }} </b> ({{ pq.student.username }}): {{ pq.new_question }} <br>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-score-heading">
                Special questions answers:
            </div>
            <div class="panel-body">
                {% for sq in special_questions %}
                    <b>{{ sq.qtype }}:</b> <br>

                    <table class="table no-margin">
                        <tbody>
                            {% for col in sq.answers %}
                                {% for ans in col.answers %}
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ ans.answer }}
                                    </td>
                                    <td>
                                        <img class="college-icon" src="{{ STATIC_URL }}images/{{col.college}}.jpg" alt="{{ st.college }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}